@font-face {
  font-family:"Roboto-Regular";
  src:url("fonts/Roboto_Regular/Roboto-Regular.eot?") format("eot"),url("fonts/Roboto_Regular/Roboto-Regular.woff") format("woff"),url("fonts/Roboto_Regular/Roboto-Regular.ttf") format("truetype"),url("fonts/Roboto_Regular/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Free-Serif";
  src:url("fonts/free_serif/FreeSerif.eot?") format("eot"),url("fonts/free_serif/FreeSerif.woff") format("woff"),url("fonts/free_serif/FreeSerif.ttf") format("truetype"),url("fonts/free_serif/FreeSerif.svg#FreeSerif") format("svg");
  font-weight:normal;
  font-style:normal;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: scroll;
}

body {
  margin: 0px;
  padding: 0px;
}

#intuition {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

#content {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 20% 10% 70%;
}

#canvasCol {
  display: flex;
}

#tutImg {
  width: 250px;
  height: 250px;
  padding: 15px;
}

#tutPar {
  text-align:center;
  width: 280px;
  padding: 4% 8%;
}

#userInput{
  border-top: 3px black solid;
  padding-top: 50px;
  margin-top: 50px;
}

.sliderContainer {
  margin: 25px 20%;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.sliderContainer:hover {
  opacity: 1;
}

.slider{
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 7px;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.sliderClicked{
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 7px;
  border-radius: 5px;
}

.sliderClicked::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
}

.sliderClicked::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.leftCol {
  height: 100%;
}

.leftCol h1 {
  font-family: 'Roboto-Regular', Helvetica, sans-serif;
}

.leftCol p {
  font-family: 'Free-Serif', Helvetica, sans-serif;
  font-size: 17px;
}

.button {
  background-color: #333;
  color: #fff;
  border: none;
}

.button:hover {
  background: red;
  color: #fff;
}

.button:active {
  opacity: 0.5;
}
